/**
 * Eventbrite styles for Twenty Fourteen.
 *
 * @package Eventbrite_API
 */

.eventbrite-event .event-time:before,
.eventbrite-event .event-organizer-text:before,
.eventbrite-event .event-venue-text:before,
.eventbrite-event .event-details-text:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: normal 16px/1 Genericons;
	text-decoration: inherit;
	vertical-align: text-bottom;
}

.eventbrite-event .event-time:before {
	content: "\f303";
}

.eventbrite-event .event-organizer-text:before {
	content: "\f304";
}

.eventbrite-event .event-venue-text:before {
	content: "\f417";
}

.eventbrite-event .event-details-text:before {
	content: "\f455";
}

.eventbrite-event .sep {
	display: none;
}

.eventbrite-event img {
	max-width:100%;
}

.eb-custom-event .eventbrite-join-btn-wrap {
	text-align:center;
}

.eb-custom-event .eventbrite-join-btn {
	padding: 11px 30px;
    font-weight: normal;
    color: #fff;
    background-color: #00ab44;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    height: auto;
    border: 0;
    vertical-align: middle;
    position: relative;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	transition:All 0.5s ease;
    -webkit-transition:All 0.5s ease;
    -moz-transition:All 0.5s ease;
    -o-transition:All 0.5s ease;
    font-size:14px;
    font-family: Arial;
    min-width:200px;
    display:inline-block;
}

.eb-custom-event .eventbrite-join-btn:hover {
    background-color: #00451b;
}

.eventbrite-event-list .nav-links {
    text-align: center;
}

@media( min-width: 670px ){
.eventbrite-event-list {
	margin-top: 100px;
}